h1{
    text-shadow: 2px 2px purple;
}.All{
    background-image: url(https://i.pinimg.com/236x/32/0d/e4/320de4aef9d3ffde67463025fac0c46f.jpg);
    
}


#img{
    height: 200px;
    justify-content: space-around;
    padding-right: 30px;
}
.images{
    display: flex;
    justify-content: space-around;
}
.img2{
    display: flex;
    justify-content: space-around; 
}
#img3{
    height: 245px;
    width: 180px;

    
}
#image49{
    height: 300px;
}
.rotate{
    display: flex;
    gap: 20%;
    rotate: 5deg; 
    padding-left: 80px;
}
@media screen and(min-width:400px) and (max-width:700px){
    h1{
        text-shadow: 2px 2px purple;}
        
    #img{
        height: 50px;
    flex-wrap: wrap;}

    .img2{
        flex-wrap: wrap;}
    
        h1{
            text-shadow: 2px 2px purple;
        padding-right: 90px;}
    


.one{
    flex-wrap: wrap;
}
.images{
   flex-wrap: wrap;
    
}}