.container{
    background-image: url(https://i.pinimg.com/236x/66/23/18/6623183389e77f1bdcb106cec3c4fa35.jpg);
    
  }
  .topnav{
      display: flex;
      gap: 50px;
      justify-content: space-around;
  }
  .icons{
      width: 30px;
      height: 25px;
      display: flex;
      gap: 20px;
  }
  .nav{
      gap: 40px;
  }
 .statement{
      display: flex;
      gap: 20px; }
    
  #image1{
    padding-right: 300px;
    height: 70px;
  }
  
  
  .button{
      background-color: palevioletred;
      color: white;
      width: 100px;
      height: 30px;
      margin-left: 150px;
  }
  .images{
      display: flex;
      gap: 50px;
      
      
  }
  #image51{
    height: 400px;
    width: 200px;
  }
  .images2{
    display: flex;
    gap: 15px;
  }
  #image6{
      height: 300px;
      width: 200px;
  
  }
  #image7{
      height: 300px;
  }
  #image8{
  height: 300px;
  }
  #image9{
      height: 300px;
  
  }
  #image10{
      height: 300px;
  }
  #image11{
      height: 300px;
  
  }
  #image12{
      height: 300px;
  }
  #image13{
      height: 300px;
      width: 300px;
  }
  .one{
      display: flex;
      gap: 40px;
      
      padding-left: 40px;
  }
  #image13{
      height: 400px;
  }
  #image20{
    height: 300px;

  }
  #image21{
    height: 300px;
  }
  #image22{
    height: 400px;

  }
  .three{
    display: flex;
  
  }
  #image23{
    height: 400px;
  }
  #image24{
    height: 400px;
  }
  #image25{
    height: 400px;
  }
  #image26{
    height: 400px;
  }
  #icons{
    height: 50px;
  }
  #image29{
    height: 300px;
  }
  #image30{
    height: 300px;
  }
  #image31{
    height: 300px;
  }
  #image16{
height: 300px;
  }
  .footer{
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
  }
  .bottom{ 
    background-color: plum;
    padding-left: 700px;
    
  }
  .image{
    padding-left: 400px;
  }
  #page{
    text-align: center;
  }
  #home{
    padding-left: 150px;
   
  }
  #demo{
    padding-left: 30px;
  }
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  .five{
    display: flex;
    gap: 20px;
  
  }
  #image17{
    width: 200px;
    
  }
  .image52{
    height: 100px;
  
  }

  .one2{
    display: flex;
    gap: 20px;
  }

  @media screen and (width:375px)  { 
    body{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      overflow-x: hidden;
    }
    .topnav{flex-wrap: wrap;
      gap: 100px;}
      
    .statement{
     flex-wrap: wrap;
      gap: 20px;}
  
    #image20{
    height: 300px;
    width: 200px;
  padding-left: 20px;}
    #image21{
      padding-left: 20px;
    }
  #image18{
    padding-left: 20px;
  }
    .topnav{
    flex-wrap: wrap;}
    
    #image7{
      height: 300px;
      width: 150px;
    padding-left: 20px;}
    #home{
  padding-right:200px;}
  #image24{
    padding-left: 20px;
  }
  #image25{
    padding-left: 20px;
  }
  #image29{
    padding-left: 20px;
  }
  #image30{
    padding-left: 20px;
  }
  #image26{
    padding-left: 20px;
  }
  #image6{
    height: 300px;
    width: 100px;
  padding-left: 20px;}
  #image8{
    width: 200px;
    padding-left: 40px;
  }
  .images{
    display: grid;
    
   
}
.one{
  flex-wrap: wrap;
  gap: 10px;
}

.one2{
  flex-wrap: wrap;
  gap: 100px;
}
.footer{
  flex-wrap: wrap;
  

} 
.bottom{

flex-wrap: wrap;
  
  
  }
.image5{
  padding-left: 700px;
  
  height: 20px;
  width: 50 
  }
  


  .five{
    flex-direction: raw;  
    }
  
.three{
 display: grid;
 padding-left: 20px;
}
.five{
  display: grid;
}
.images2{
  display: grid;
}
.bottom{
  width: 160px;
  padding-left: 190px;
}
#image9{
  padding-left: 20px;
}
#image51{
  padding-left: 20px;
}
#image52{
  padding-left: 20px;
}

}









  