.container{
    background-image: url(https://i.pinimg.com/236x/66/23/18/6623183389e77f1bdcb106cec3c4fa35.jpg);
    
  }
  .topnav{
      display: flex;
      gap: 100px;
      justify-content: space-around;
  }
  .icons{
      width: 30px;
      height: 25px;
      display: flex;
      gap: 20px;
  }
  .nav{
      gap: 40px;
  }
 .statement{
      display: flex;
      gap: 20px; }
    
  #image1{
    padding-right: 300px;
    height: 70px;
  }
  
  
  .button{
      background-color: palevioletred;
      color: white;
      width: 100px;
      height: 30px;
      margin-left: 150px;
  }
  .images{
      display: flex;
      gap: 130px;
      
      
  }
  #image51{
    height: 400px;
    width: 200px;
  }
  .images2{
    display: flex;
  gap: 100px;
  }
  #image6{
      height: 300px;
  
  }
  #image7{
      height: 300px;
  }
  #image8{
  height: 300px;
  }
  #image9{
      height: 300px;
  
  }
  #image10{
      height: 300px;
  }
  #image11{
      height: 300px;
  
  }
  #image12{
      height: 300px;
  }
  #image13{
      height: 300px;
      width: 300px;
  }
  .one{
      display: flex;
      gap: 120px;
      
      padding-left: 40px;
  }
  #image13{
      height: 400px;
  }
  #image20{
    height: 300px;

  }
  #image21{
    height: 300px;
  }
  #image22{
    height: 400px;

  }
  .three{
    display: flex;
  gap: 70px;
  }
  #image23{
    height: 400px;
  }
  #image24{
    height: 400px;
  }
  #image25{
    height: 400px;
  }
  #image26{
    height: 400px;
  }
  #icons{
    height: 50px;
  }
  #image29{
    height: 300px;
  }
  #image30{
    height: 300px;
  }
  #image31{
    height: 300px;
  }
  #image16{
height: 300px;
  }
  .footer{
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
  }
  .bottom{
    background-color: plum;
    padding-left: 700px;
    
  }
  .image{
    padding-left: 400px;
  }
  #page{
    text-align: center;
  }
  #home{
    padding-left: 300px;
    justify-content: space-around;
  }
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  .five{
    display: flex;
    gap: 100px;
  
  }
  .image52{
    height: 100px;
  
  }

  .one2{
    display: flex;
    gap: 100px;
  }

  @media screen and(min-width:400px) and (max-width:700px){ 
    .topnav{flex-wrap: wrap;
      gap: 100px;}
      
      #image7{
        height: 20px;}
  
  .statement{
     flex-wrap: wrap;
      gap: 20px;
    
  }
  .topnav{
    flex-wrap: wrap;
    
    }
  #home{
padding-right: 100px;
  }
  .images{
    flex-wrap: wrap;
    justify-content: space-around;
}
.one{
  flex-wrap: wrap;
gap: 100px;
}

.one2{
  flex-wrap: wrap;
  gap: 100px;
}
.footer{
  flex-wrap: wrap;
  

} 
.bottom{

flex-wrap: wrap;
  
  
  }
.image5{
  padding-left: 700px;
  
  height: 20px;
  width: 50 
  }
  


  .five{
    flex-wrap: wrap;
    }
  
}









  